* {
    font-family: sans-serif;
}

#light {
    background-color: lightgrey;
    
}

#dark {
    background-color: #2f293d;
    color: #FAF0E6;
    
    
}

#dark a:link {
    color: lightblue
}

#dark a:visited {
    color: #a00305;
}

.galleryItem {
    padding-left: 2px;

    
}

@media screen and (max-width: 800px) {
    .galleryItem {
        /* position: block; */
        object-fit:scale-down;
        width: 100%;
        height:min-content;
        /* aspect-ratio: 1 / 1; */
    }
}

p {
    margin-right: 20px;
}

/* #mode {
    position: relative;
    left: 90%;
} */

.icon {
    position: relative;
    top: 30px;
    height: 65px;
    border-radius: 50%;
}

.header {
    position: fixed;
    right: 5%;
}


.top {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 0.15;
    padding-top: 0%;
    z-index: -1;
}


.head-image {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1 / 0.15;
    position: absolute;
}

#light .head-image.dark {
    z-index: -1;
    /* position: fixed; */
}

#dark .head-image.light {
    z-index: -1;
    /* position: fixed; */
}

/* #main {
    /* background-color: bl;
} */
