* {
    font-family: sans-serif;
}

#light {
    background-color: lightgrey;
}

#dark {
    background-color: #2f293d;
    color: #FAF0E6;
    a:visited {
        color: #a00305;
    }
}

.galleryItem {
    padding-left: 2px;
}

p {
    margin-right: 20px;
}

#mode {
    position: relative;
    left: 90%;
}

.icon {
    position: relative;
    top: 30px;
}
