* {
    font-family: sans-serif;
}

#light {
    background-color: lightgrey;
}

#dark {
    background-color: #2f293d;
    color: #FAF0E6;
    a:visited {
        color: #a00305;
    }
}

p {
    margin-right: 20px;
}
